body{
    background:url(./imgsources/bg.jpg);
    background-repeat: no-repeat;
    background-size: 500%;
    padding:0;
    margin:0;
    
}
.main-box{
    width:26%;
    display:grid;
    align-content:space-evenly;
    height:auto;
    border:8px solid black;
    border-radius: 5%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#393E46;
    box-shadow: 0px 0px 10px 0px black;
    animation:turn 5s infinite linear;
}@keyframes turn{
    0%{
        border:8px solid #E49393;
        box-shadow: 0px 0px 10px 0px #E49393;

    }
    25%{border:8px solid #FF6D28;
        box-shadow: 0px 0px 10px 0px #FF6D28;
    }
    50%{border:8px solid #FFED00;
        box-shadow: 0px 0px 10px 0px #FFED00;
    }75%{border:8px solid #19A7CE;
        box-shadow: 0px 0px 10px 0px #19A7CE;

    }
    100%{border:8px solid #DF2E38;
        box-shadow: 0px 0px 10px 0px #DF2E38;}

}.sub-box1{
    width:82%;
    height: auto;
    margin: auto;
    border:0px solid blue;
    
}.displayname{
    width:95%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border:0px solid red;
}.displayname1{

   height:45px;
   width:80px;
   margin-top:15px;
   margin-bottom: 30px;
   position: relative;
   box-shadow: 0 10px 35px black;
   border-radius: 5px;
   overflow: hidden;
   padding:2px 4px;
   background-color: #1c1b29;
   border:1px solid red;
  

}.displayname1::after{
    content:'Simple';
    height: 100%;
    width:100%;
    border:0px solid red;
    position: absolute;

    border-radius: 5px;
    top:3%;
    left:3%;
    font-size: 22px;
    word-spacing: 2px;
    font-family: cursive;
    color:#FFD93D
}#displayname2{
    font-size: 20px;
    color:#FF6D60;
    font-family:cursive;
    text-decoration: underline;
    word-spacing: 5px;
}
#inputnum{
    width:88%;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px solid teal;
    box-shadow: 2px 0px 10px 2px black;
    border-radius: 14%;
    padding:18px 10px;
    text-align: right;
    background-color: aliceblue;
    
    }
.sub-box2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    width:79%;
    padding: 8px 8px;
    margin:auto;
    height: auto;
    box-shadow: 0px 0px 2px 0px black;
    background-color: #020705;
    border:4px solid black;
    border-radius: 10px;
    margin-top:25px;
    margin-bottom: 20px;
}.symbols{
    border-radius: 50%;
    font-size: larger;
    height: 45px;
    color:White;
    background-color: black;
    cursor:pointer;
    border:2.5px solid #FFD93D; 
}.symbols:hover{
    color:#FFD93D;

}.number{
    border-radius: 50%;
    font-size: 18px;
    height: 45px;
    color:White;
    background-color: black;
    cursor:pointer;
    border:2.5px solid #FC2947;

}.number:hover{
    color:#FFD93D;
}.symbolequal{
    font-size: larger;
    grid-column-end:span 2 ;
    cursor:pointer;
    border-radius:10%;
    color:White;
    background-color: black;
    border: 2.5px solid #609966;
}.symbolequal:hover{
    color:#FFD93D;
}#copyright{
    font-size: small;
    font-family: cursive;
    text-align: right;
    color:whitesmoke;
    filter:drop-shadow(0px 5px px black);
    width:90%;
    margin:auto;
    margin-bottom: 20px;
}
@media (min-device-width:320px){
    .main-box{
        width:92%;
        margin-top: 30px;
    }.displayname1{
        width:70px;
        height:35px;
        border: 2px solid red;
    }.displayname1::before{
      animation: none;
      padding: 2px;
      background-image: none;
      
    }
    .displayname1::after{
        font-size:22px;
        border:0px solid red;
    }#displayname2{
        font-size: 20px;
        margin-top: 15px;
    }#inputnum{
        width: 94%;
        font-size: 24px;
        margin:auto;
        border: 5px solid teal;
         border-radius: 8px;
        padding:10px 5px;

    }.sub-box2{
        width:78%;
        gap:15px;
        font-family:'Times New Roman', Times, serif;
    }.symbols{
        font-size: 16px;
        height: 50px;
        border:2px solid #FFD93D;
    }.number{
        font-size: 16px;
        height:50px;
        border:2px solid #FC2947
    }.symbolequal{
        font-size: 18px;
    }#copyright{
        width:82%;
        font-size: 14px;
        margin:auto;
        margin-bottom: 20px;
        border:0px solid red;
        
    }
    
    
}
@media (min-device-width:480px){
    .main-box{
        width:76%;
    }.displayname1{
        width:70px;
        height:35px;
        border: 2px solid red;
    }.displayname1::before{
      animation: none;
      padding: 2px;
      background-image: none;
      
    }
    .displayname1::after{
        font-size:22px;
        border:0px solid red;
    }#displayname2{
        font-size: 22px;
        margin-top: 15px;
        margin-right: 0px;
    }#inputnum{
        width:96%;
        font-size: 28px;
        margin:auto;
        margin-right:auto;
        border: 6px solid teal;
         border-radius: 8px;
        padding:10px 5px;

    }.sub-box2{
        width:79%;
        gap:12px;
    }.symbols{
        font-size: 18px;
        height: 50px;
        border:2px solid #FFD93D;
    }.number{
        font-size: 18px;
        height:50px;
        border:2px solid #FC2947
    }.symbolequal{
        font-size: 20px;
    }#copyright{
        width:82%;
        font-size: 18px;
        margin:10px;
        margin-bottom: 20px;
        border:0px solid red;
        
    }
}@media (min-device-width:720px){
    .main-box{
        width:86%;
    }.displayname1{
        width:140px;
        height:60px;
        border: 2px solid red;
    }.displayname1::before{
      animation: none;
      padding: 2px;
      background-image: none;
      
    }
    .displayname1::after{
        font-size:40px;
        border:0px solid red;
    }#displayname2{
        font-size: 38px;
        margin-top: 15px;
        margin-right: 0px;
    }#inputnum{
        width:92%;
        font-size: 54px;
        margin:auto;
        margin-right:auto;
        margin-top: 50px;
        border: 12px solid teal;
         border-radius: 10px;
        padding:30px 10px;

    }.sub-box2{
        width:77%;
        margin-top: 70px;
        gap:15px;
        padding: 15px;
    }.symbols{
        font-size: 30px;
        height: 95px;
        border:2px solid #FFD93D;
    }.number{
        font-size:30px;
        height:95px;
        border:2px solid #FC2947
    }.symbolequal{
        font-size: 30px;
    }#copyright{
        width:82%;
        font-size: 30px;
        margin:10px auto;
        margin-bottom: 40px;
        border:0px solid red;
        
    }
}@media (min-device-width:1080px){
    .main-box{
        width:36%;
    }.displayname1{
        width:70px;
        height:32px;
        border: 2px solid red;
    }.displayname1::before{
      animation: none;
      padding: 2px;
      background-image: none;
      
    }
    .displayname1::after{
        font-size:22px;
        border:0px solid red;
    }#displayname2{
        font-size: 24px;
        margin-top: 15px;
        margin-right: 0px;
    }#inputnum{
        width:92%;
        font-size: 32px;
        margin:auto;
        margin-right:auto;
        border: 8px solid teal;
         border-radius: 8px;
        padding:10px 5px;

    }.sub-box2{
        width:75%;
        margin-top: 30px;
    }.symbols{
        font-size: 22px;
        height: 60px;
        border:2px solid #FFD93D;
    }.number{
        font-size:22px;
        height:60px;
        border:2px solid #FC2947
    }.symbolequal{
        font-size: 28px;
    }#copyright{
        width:82%;
        font-size: 22px;
        margin:0px auto;
        margin-bottom: 10px;
        border:0px solid red;
        
    }
}
@media(min-device-width:1200px){
    .main-box{
        width:26%;
    }.displayname1{
        width:60px;
        height:30px;
        border: 2px solid red;
    }.displayname1::before{
      animation: none;
      padding: 2px;
      background-image: none;
      
    }
    .displayname1::after{
        font-size:20px;
        border:0px solid red;
    }#displayname2{
        font-size: 22px;
        margin-top: 15px;
        margin-right: 0px;
    }#inputnum{
        width:92%;
        font-size: 30px;
        margin:auto;
        margin-right:auto;
        border: 8px solid teal;
         border-radius: 8px;
        padding:10px 5px;

    }.sub-box2{
        width:75%;
        margin-top: 30px;
    }.symbols{
        font-size: 20px;
        height: 50px;
        border:2px solid #FFD93D;
    }.number{
        font-size:20px;
        height:50px;
        border:2px solid #FC2947
    }.symbolequal{
        font-size: 28px;
    }#copyright{
        width:82%;
        font-size: 20px;
        margin:0px auto;
        margin-bottom: 10px;
        border:0px solid red;
        
    }
}
    
   